@page "/Billpayments"
@using HTTPClients.ClientInterfaces
@using Domains.Entity

@inject IBillPaymentService BillPaymentService;
@inject AuthenticationStateProvider StateProvider;
@inject NavigationManager NavMgr;

<AuthorizeView>
    <Authorized>
        <div class="container">
            <h3>Bill Payment</h3>

            <div class="row">
                @*This is the first box to display the image and send/Cancel button*@
                <div class="col-md-3 first-box">
                    <div class="icon-image">
                        <img src="images/KANPAY logo.png" alt="">
                    </div>


                    <div class="buttonDiv">
                        <button class="button">Send</button>
                        <button class="button">Cancel</button>
                    </div>
                </div>

                @*This is the second box to display the fields*@
                <div class="col-md-6 second-box">
                    <div class="form-group">

                        <label>Payee</label>
                        <div class="inputFields">
                            <input type="text" class="fieldLength" @bind="payee">
                        </div>

                        <label>Account number</label>
                        <div class="inputFields">
                            <input type="number" class="fieldLength" @bind="accountNumber">
                        </div>

                        <label>Amount</label>
                        <div class="inputFields">
                            <input type="number" class="fieldLength" @bind="amount">
                        </div>

                        <label>Date</label>
                        <div class="inputFields">
                            <input type="date" @bind="dateTime" min="@DateTime.Now.Date.ToString("yyyy-MM-dd")" max="@DateTime.Now.Date.ToString("yyyy-MM-dd")">
                        </div>

                        <label>Reference</label>
                        <div class="inputFields">
                            <input type="text" class="fieldLength" @bind="Refrence">
                        </div>

                    </div>
                </div>
                @*This is third box to display the bill payments history*@
                <div class="col-md-3 third-box">
                    <label class="header">Recent bill payments</label>
                    <hr class="hr1"/>
                </div>
                @if (billPayment == null)
                {
                    errorLabel = "There is no bills payments done!";
                    color = "red";
                }
                else
                {
                    <div class="table_box">
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th>Payee</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var billEntity in billPayment)
                            {
                                <tr>
                                    @*Payee*@
                                    <td>
                                        <span>@billEntity.Payee</span>
                                    </td>
                                    @*Amount*@
                                    <td>
                                        <span>@billEntity.amount</span>
                                    </td>
                                    @*Date*@
                                    <td>
                                        <span>@billEntity.date</span>
                                    </td>
                                </tr>
                            }
                            </tbody>

                        </table>
                    </div>
                }
            </div>

            <div class="error">
                @if (!string.IsNullOrEmpty(errorLabel))
                {
                    <label style="color: @color">@errorLabel</label>
                }
            </div>

        </div>

        <Modal ShowModal="showModal">
            <p >You have successfully transferred the amount!</p>
            <div>
                <button class="button" @onclick="@Proceed">OK</button>
            </div>
        </Modal>

    </Authorized>
    <NotAuthorized>
        <h2>You must be logged in to be able to view this page--</h2>
    </NotAuthorized>

</AuthorizeView>


@code {

    private string? sender;
    private string? payee = "";
    private string? amount = "";
    private DateTime dateTime = DateTime.Now.Date;
    private long accountNumber;
    private string? Refrence = "";
    private UserEntity? senderUser;

    private ICollection<BillPaymentEntity>? billPayment = new List<BillPaymentEntity>();
    private ICollection<TransactionEntity>? transactionEntities = new List<TransactionEntity>();
    private IEnumerable<UserEntity?> userEntities = new List<UserEntity?>();

    private string errorLabel = "";
    private string color = "";
    private bool showModal;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            AuthenticationState state = await StateProvider.GetAuthenticationStateAsync();
            sender = state.User.Claims.FirstOrDefault(claim => claim.Type.Equals("username"))!.Value.ToString();

            IEnumerable<UserEntity?> entities = userEntities.ToList();
            senderUser = entities.FirstOrDefault(u => u.UserName.Equals(sender));
        }
        catch (Exception e)
        {
            errorLabel = e.Message;
            color = "red";
        }
    }

    private async Task PayBill()
    {
        string date = $"{dateTime.Date.Day}/{dateTime.Date.Month}/{dateTime.Date.Year}";

        try
        {
            if (string.IsNullOrEmpty(payee)) throw new Exception("payee name must be filled in");
            if (string.IsNullOrEmpty(amount)) throw new Exception("amount must be filled in");
            if (int.Parse(amount) <= 0) throw new Exception("Amount must be more than 0.");
            if (string.IsNullOrEmpty(errorLabel))
            {
                await BillPaymentService.CreateAsync(new BillPaymentEntity(date, senderUser, payee, Convert.ToInt32(amount), accountNumber, Refrence));
                showModal = true;
            }
        }
        catch (Exception e)
        {
            errorLabel = e.Message;
            color = "red";
        }
    }

    private async Task DisplayAllBillPayments()
    {
        billPayment = await BillPaymentService.FetchAllTransactionsInvolvingUser(sender);
    }

    private void Proceed()
    {
        showModal = false;
        NavMgr.NavigateTo("/");
    }

}